.name_container {
    display: flex;
  }
  
  .name_container > label:first-child {
    margin-right: 20px;
  }
  
  input {
    border: 1px solid #888888;
  }
  
  #fullName {
    margin-top: 40px;
    font-size: 60px;
    height: 60px;
    border-bottom: 1px solid #888888;
  }