.textarea {
    width: 100%;
    height: calc(100% - 40px);
    font-size: 40px;
    background-color: rgba(255, 255, 255, 0.9);
}
  
p {
    color: blue;
    font-size: 24px;
    font-weight: bold;
    text-shadow: -1px -1px 1px #333333, 1px 1px black;
    margin: 0;
}

p1 {
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-shadow: -1px -1px 1px #333333, 1px 1px black;
    margin: 0;
}